

body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	margin:0px;
	padding:0px;
}

#wrap {width:500px; margin:150px auto;}
#logo {font-family:arial;font-style:italic;font-size:30px;color:#FFF;margin:10px 45px;float:left;}
#login_area {border:3px solid #FA8132;background-color:#1A7E98}
.login_form{width:155px;float:left; margin:0px 20px 10px;}
.txtlabel{color:#FFF;font-size:12px;font-weight:bold;font-family:arial;margin:3px;}
.input_field{border: 1px solid #1A7E98;}

.login_btn {background:url('../../images/admin_images/login_btn.png');width:51px; height:21px; border:0px;margin-top:10px}
.seperate_border {float:left;width:2px;background-color:#FFF; }

.login_text {float:left;color:#FFF;font-family:arial;font-size:12px;font-weight:bold;width:185px; margin:10px 10px;}

.secure_lock{background:url('../../images/admin_images/lock.png');width:90px; height:90px;float:left;}


.seperator_txt{
    background-color:#FFF;
    height:2px;
    width:484px;margin: 0 5px;
}
.login_error{float:left;color:#FA8132;font-family:arial;font-size:12px;line-height:25px;width:500px;padding-left:20px;}



